@import url(https://fonts.googleapis.com/css?family=Momo+Trust+Sans:200,300,regular,500,600,700,800);

:root{
  --primary-color: #663399;
  --bg-color: white;
  --text-color: #112233;
  /* --dialog-bg-color: #f0f0ff; */
  /* --primary-color: #306090; */
  /* --dialog-bg-color: #a0d0ff; */
  --dialog-bg-color: #eef0ff;
}

/* Colores para el modo oscuro */
body.dark {
  /* --primary-color: #441177; */
  --primary-color: #552288;
  --bg-color: #112233;
  --text-color: #DDDDFF;
  --dialog-bg-color: color-mix(in srgb, var(--bg-color) 75%, black)
}

/* Colores para el modo rojo */
body.rojo {
  --primary-color: #993344;
  --bg-color: white;
  --text-color: #112233;
  --dialog-bg-color: #feeeef;
}

body.verde {
  --primary-color: #117744;
  --bg-color: #113322;
  --text-color: #DDDDFF;
  --dialog-bg-color: color-mix(in srgb, var(--bg-color) 75%, black)
}



body.botones-izquierda{
  section{
    margin-left: 3rem;
  }
  [contenteditable] + div {
    flex-direction: column;
    bottom: -2px;
    left: -3rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    min-width: 0;
  }
}


*,::after,::before{
  box-sizing: border-box;
}

body{
  font-family: 'Momo Trust Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-inline: auto;
  max-width: 60rem;
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}
h2{
  font-weight: 400;
  border-bottom: 1px solid black;
}
h3{
  font-weight: 400;
  font-style: italic;
}

.formBotonera{
  display:flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-block: 4rem;
  margin-inline: auto;
  color:white;
  /* background-color: #EDF; */
  background-color: var(--primary-color);
  border-radius: 5px;
  max-width: 30rem;
  padding: 1rem;
}


[data-jup=code]{
  /* width: 98%; */
  /* height: ; */
  font-family: monospace;
  padding: 15px;
  /* border: 1px solid #ccc; */
  font-size: 1rem;
  /* margin-left: 2rem; */
  /*overflow:scroll;*/
  overflow-y: scroll;
  overflow-wrap: anywhere;
}

[contenteditable]{
  /* margin-left: 1rem; */
  min-height: 3rem;
  white-space: pre-wrap; /* Para respetar saltos de línea y formateo */
  padding:0.5rem;
  /* padding:0.25rem; */
  /* width:100%; */
  /* border-bottom: 1px dotted rebeccapurple; */
  &:focus{
    outline:0;
  }
}

/* la división con los botones de gestionar texto */
[contenteditable] + div {
  position: absolute;
/*  display: flex;
  flex-direction: column;
  top: -0.75rem;
  left: -.5rem;
  display:none;*/
  bottom: calc(-3rem - 0px);
  /* left: 1rem; */
  left: -2px;
  display: none;
  z-index: 1;
  background-color: var(--primary-color);
  padding: 0.5rem;
  min-width: 50%;
  justify-content: center;
  gap:1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* outline: 2px solid #639E; */
  /* text-align: center; */
}
/* [contenteditable]:hover + div,[contenteditable]:hover + div:hover {
  display:flex;
} */

section:has([contenteditable]):hover > div:nth-child(2){
  display:flex;
}

section:has([contenteditable=true]):hover{
  outline: 2px dashed var(--primary-color);
}



output[data-jup="output"] {
  margin-top: 0.25rem;
  /* margin-left: 1rem; */
  padding: 1rem;
  border: 1px solid var(--primary-color);
  /* background-color: #edf; */
  background-color: var(--dialog-bg-color);

  white-space: pre-wrap; /* Para respetar saltos de línea y formateo */
  min-height: 50px;
  display:block;
  font-family: monospac e;
  font-size: 1rem;
  &:empty{
    display: none;
  }
}

button{
  margin-top: 1rem;
  font-family: 'Momo Trust Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  font-variant: small-caps;
  border: 0px;
  /* outline: 1px solid var(--bg-color); */
  background-color: var(--primary-color);
  filter: brightness(1.3);

  color: white;
  border-radius: 5px;
  min-width: 5rem;
  padding: 0.25rem 1rem;
  
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
  
  &:hover{
    filter:brightness(1.5);
    cursor: pointer;
  }
  &:active{
    transform: translate(0px, 1px);
  }
}
.formBotonera button{
  margin-top: 0;
}

.justifyCenter{
  justify-content: center;
}

dialog{
  min-width: 40rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  /* background-color: var(--bg-color); */
  background-color: var(--dialog-bg-color);
  color: var(--text-color);
}
dialog::backdrop{
  background-color: var(--primary-color);
  opacity: 0.5;
}

textarea{
  width: 98%;
  height: 200px;
  font-family: monospace;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;

  color:var(--text-color);
  background-color: var(--bg-color);

  &:focus{
    outline: 0;
  }
}
/* textarea.codigo{
  margin-left: 2rem;
} */

section{
  margin-top: 1rem;
  position:relative;
  padding: 0.5rem;
}

.buttonEliminarTexto{
  background-color: var(--primary-color);
  /* position: absolute; */
  /* left: -2.5rem; */
  /* top:-0.25rem; */
  /* border-radius: 100%; */
  border-radius: 10px;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  cursor:pointer;
  user-select: none;
  &:hover{
    filter: brightness(1.25);
  }
  &:active{
    transform: scale(0.9);
  }
}

code, pre, tt{
  /*background-color: #edf;
  color: var(--primary-color);
  color: var(--bg-color);
  */
  background-color: color-mix(in srgb, var(--primary-color), 60% transparent);
  font-size: 0.9rem;
  font-family: monospace;

}
pre{
  overflow:scroll;
  padding:15px; /* estética */
}

pre[contenteditable]{
  border: 1px solid var(--primary-color);
}

details[data-jup=menu-auxiliar]{
  position: fixed;
  right: 1rem;
  top: 1rem;
  text-align: center;
  background-color: var(--dialog-bg-color);
  color: var(--text-color);
  padding: 0.5rem;
  outline: 2px solid var(--primary-color);
  border-radius: 0px;
}
/* details[data-jup=menu-auxiliar]:hover{} */
details[data-jup=menu-auxiliar] summary{
  list-style: none;
  text-align: right;
  cursor: pointer;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  /* background-color: red; */
}

details[data-jup=menu-auxiliar] button{
  width: 100%;
  justify-content: initial;
}

/*Inputs*/
input{
  border: 2px solid var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background-color: var(--dialog-bg-color);
  color: var(--text-color);
}

a{
  /*color: var(--primary-color);*/
  color: color-mix(in srgb, var(--text-color) 30%, var(--primary-color) 70%);
  filter: brightness(1.5);
}
